Negocio/Service References/ServicioUCA/ServiciosUca2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webservices.uca.edu.ni:8081/ServiciosUca.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UCA.Servicios" />
  <xs:element name="ValidarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IpConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UCA.Servicios" minOccurs="0" name="ValidarUsuarioResult" nillable="true" type="q1:ArrayOfSistemas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarPermisos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sistId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarPermisosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UCA.Servicios" minOccurs="0" name="ValidarPermisosResult" nillable="true" type="q2:UsuarioPermisos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarCedula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cedula" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarCedulaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarCedulaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarRegistroSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarRegistroSesionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarRegistroSesionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaSubordinados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inss" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaSubordinadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UCA.Servicios" minOccurs="0" name="ConsultaSubordinadosResult" nillable="true" type="q3:ArrayOfSubordinados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaJefe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inss" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaJefeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UCA.Servicios" minOccurs="0" name="ConsultaJefeResult" nillable="true" type="q4:DatosJefe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OPS_prematricula">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/UCA.Servicios" minOccurs="0" name="ops" nillable="true" type="q5:OPS_request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OPS_prematriculaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/UCA.Servicios" minOccurs="0" name="OPS_prematriculaResult" nillable="true" type="q6:OPS_response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Consulta_OPS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Consulta_OPSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/UCA.Servicios" minOccurs="0" name="Consulta_OPSResult" nillable="true" type="q7:Datos_OPS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Consulta_OPS_Carnet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Consulta_OPS_CarnetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/UCA.Servicios" minOccurs="0" name="Consulta_OPS_CarnetResult" nillable="true" type="q8:ArrayOfDatos_OPS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>